
/* Login Page */

.login-input{
   width: 300px;
   margin: 10px auto;
}

.login-button{
   width: 300px;
}

.login-sso-button{
   width: 100px;
}

.login-register{
   width: 300px;
   margin: 10px auto;
   font-weight: bold;
   font-size: 20px;
   text-align: right;
}

/* .login-error{
   width: 300px;
} */


/* Register Page */

.register-title{
   padding: 30px;
}

.register-label{
   width: 100px;
}

.register-field{
   width: 300px;
   margin: 10px auto;
}

.register-submit{
   width: 200px;
   margin: 40px 0 10px 0;
}

.register-button{
   width: 200px;
}

/* .register-error{
   width: 300px;
} */


/* Home Page */

.home-member{
   padding: 15px;
   font-size: 15px;
}

.home-member-btn{
   margin: 5px;
}

/* Mypage Page */

.mypage-top{
   padding: 15px;
   font-size: 15px;
}

.mypage-top-right{
   float: right;
}

.mypage-btn{
   margin: 5px;
}

.mypage-book{
   margin: 5% 20%;
   padding: 3% 5% 5% 10%;
   border: solid 0.5px;
   border-color: blue;
   font-size: 20px;
}

.mypage-book-top{
   width: 100%;
}

.mypage-text{
   margin-top: 30px;
}

.mypage-book-content{

}