
/* Login Page */

.login-title{
   margin: 2rem auto;
   font-size: 4.5rem;
   font-weight: bold;
   color: skyblue;
   border-color: #2e6da4;
}

.login-subtitle{
   font-weight: bold;
   color: tomato;
   border-color: #d43f3a;
}

.login-input{
   width: 30rem;
   margin: 1rem auto;
}

.login-button{
   width: 30rem;
}

.login-sso-button{
   width: 10rem;
}

.login-register{
   width: 30rem;
   margin: 1rem auto;
   font-weight: bold;
   font-size: 1rem;
   text-align: right;
}

.login-error{
   font-size: 1.5rem;
   font-weight: bold;
   color: tomato;
}


/* Login Page - Mobile */

/* Gereral Android & iPhone*/
@media(max-width:420px){

    .login-title{
        margin: 2rem auto;
        font-size: 3.3rem;
        font-weight: bold;
        color: skyblue;
        border-color: #2e6da4;
     }

     .login-error{
         font-size: 1.3rem;
     }
}


/* Login Page - iPhone5/SE

@media(max-height:600px){
    
    .login-title{
        margin: 1.5rem;
        font-size: 3rem;
        font-weight: bold;
        color: skyblue;
        border-color: #2e6da4;
    }

    .login-subtitle{
        font-size: 1.3rem;
    }

    img{
        width: 80%;
        height: 80%;
    }

    button, input{
        width: 80% !important;
    }

    a{
        width: 85% !important;
    }

    .login-error{
        font-size: 1.3rem;
    }

    .login-register{
        text-align: center;
    }
} */


/* Register Page */

.register-title{
   padding: 3rem;
   font-size: 4rem;
   font-weight: bold;
   color: skyblue;
}

.register-label{
   width: 11rem;
}

.register-field{
   width: 25rem;
   margin: 1rem auto;
}

.register-submit{
   width: 25rem;
   margin: 40px 0 10px 0;
}

.register-button{
   width: 25rem;
   font-size: 1.5rem;
}

.register-error{
   margin-left: 11rem;
   font-size: 1.5rem;
   font-weight: bold;
   color: tomato;
}


/* Register Page - Mobile */

@media(max-width:420px){

    .register-title{
        padding: 2rem;
        font-size: 3rem;
        font-weight: bold;
        color: skyblue;
    }

    .register-label{
        margin-left: 1.5rem;
        width: 10rem;
    }

    .form-inline .form-group{
        margin-bottom: 3px;
    }

    .register-label + .form-control{
        display: inline;
        width: 55% !important;
    }

    .register-error{
        margin-left: 5rem;
        font-size: 1.3rem;
    }

    .register-submit, .register-button{
        width: 65%;
    }
}

@media(max-width:380px){

    .register-error{
        margin-left: 7rem;
        font-size: 1.3rem;
    }
}

/* @media(max-height:600px){

    .register-submit{
        margin-top: 2rem;
    }

    .register-submit{
        width: 70% !important;
    }

    .register-button{
        width: 70% !important;
    }

    .register-error{
        margin-left: 9rem;
    }
} */


/* Home Page */

.home-nickname{
   font-weight: bold;
   font-size: 2rem;
}

.home-member{
   padding: 15px;
   font-size: 15px;
}

.home-member-btn{
   margin: 1rem;
}

.home-book-nickname-frame{
   margin-top: 3rem;
}

.home-book-nickname{
   color: rgba(0, 0, 0);
}

.home-book-nickname-post{
   font-size: 2.3rem;
   color: rgba(0, 0, 0, 0.5);
}

.home-book-list{
   padding: 5rem 10rem;
   margin: auto 0;
   background-color: rgba(220, 220, 220, 0.3);
}

.home-book-image-frame{
   display: flex !important;
   margin-top: 2rem;
   margin-bottom: 4rem;
   justify-content:center;
   align-items:center;

   outline:none;
}

.home-book-image{
   width: 200px;
   height: 250px;
   border: rgb(102, 102, 102) solid 2px;
}

.home-book-image:hover{
   width: 200px;
   height: 250px;
   cursor: pointer;
}

.home-book-text-title{
   font-size: 2rem;
}

.home-book-text-content{
   font-size: 1.5rem;
   margin-bottom: 2.5rem;
}

.slick-list {
   margin-bottom: 2rem;
   border-bottom: rgb(102, 102, 102) solid 2px;
}

.slick-prev:before, .slick-next:before{
   font-size: 40px;
   color: black;
}


/* Home Page - Mobile */

@media(max-width:420px){

    body{
        padding-right: 0 !important;
    }

    .home-member{
        padding-top: 2rem;
        text-align: center;
    }

    .home-member > span, .home-nickname {
        font-size: 2rem !important;
    }

    .home-member-btn{
        display: block;
        margin: 1.5rem auto;
        width: 70%;
    }

    .home-book-nickname-frame{
        margin-top: 0rem;
        padding-top: 2rem;
        text-align: center;
    }

    .home-book-list{
        padding: 6rem;
    }

    .home-book-list h2{
        font-size: 2.3rem;
    }

    .slick-prev:before, .slick-next:before{
        font-size: 40px;
    }

    /* .modalContent{
        margin: 0 auto !important;
    } */
}

/* @media(max-height:600px){
    a + .home-member-btn{
        width: 85% !important; 
    }

    .home-book-nickname-post{
        font-size: 1.2rem;
    }
} */


/* Mypage Page */

.mypage-top{
   padding: 15px;
   font-size: 15px;
}

.mypage-top-right{
   float: right;
}

.mypage-btn{
   margin: 1rem;
}

.mypage-book{
   margin: 5% 20%;
   padding: 3% 5% 5% 10%;
   background-color: rgba(220, 220, 220, 0.3);
   font-size: 20px;
}

.mypage-book-top{
   width: 100%;
}

.mypage-book-image{
   width: 200px;
   height: 250px;
   border: rgba(102, 102, 102) solid 2px
}

.mypage-book-text{
   margin-top: 30px;
}

.mypage-add-image{
    max-width: 300px;
}

.mypage-add-text{
   margin-top: 20px;
   max-width: 300px;
}

.mypage-add-footer{
   margin-top: 30px;
}

.mypage-modify-no{
   display: none;
}

.mypage-modify-text{
   margin-top: 20px;
   max-width: 300px;
}

.mypage-modify-footer{
   margin-top: 30px;
}


/* MyPage - Mobile */

@media(max-width: 420px){

    body{
        padding-right: 0 !important;
    }

    .mypage-top{
        padding: 0
    }

    .mypage-top-right{
        float: none;
    }

    .mypage-add-text{
        margin-top: 1rem;
    }

    span > .mypage-btn{
        display: block;
        margin: 2rem auto;
        width: 60%;
    }

    .mypage-home-btn{
        background-color: #f0ad4e;
        border-color: #eea236;
    }

    .mypage-book-top{
        margin-top: 3rem;
        padding: 5rem;
        text-align: center;
    }

    .mypage-book{
        margin: 0 auto;
        padding: 0;
        background-color: rgba(220, 220, 220, 0.3) !important;
    }

    .mypage-book-image-frame{
        text-align: center;
    }

    .mypage-book-text{
        padding: 1.1rem;
        text-align: center;
        word-break: break-all;
    }

    .mypage-book-text > label{
        font-size: 2.5rem;
    }

    /* .modalContent{
        margin: 0 auto !important;
    } */
}

/* iPhone 5/SE

@media(max-height: 600px){
    span > a {
        width: 80% !important;
    }
} */