
/* Login Page */

.login-input{
   width: 300px;
   margin: 10px auto;
}

.login-button{
   width: 300px;
}

.login-sso-button{
   width: 100px;
}

.login-register{
   width: 300px;
   margin: 10px auto;
   font-weight: bold;
   font-size: 20px;
   text-align: right;
}
